{% extends 'base.html.twig' %}

{% block title %}Mon panier{% endblock %}

{# On force le rafraichissement du cache du turbo pour eviter les lfash avec le précedent panier #}
{% block head_extra %}
    <meta name="turbo-cache-control" content="no-cache">
    <meta name="turbo-visit-control" content="reload">
{% endblock %}

{% block body %}
    <section class="account-section cart-section">
        <div class="container">
            <h1>Mon panier</h1>
            <div class="cart-wrapper">
                <a href="{{ path('app_cart_clear') }}" class="clear-cart">X Vider le panier</a>
                <div class="cart-card">
                    {% for item in cartItems %}
                        <div class="cart-item">
                            <img src="{{ item.product.picture }}" alt="{{ item.product.name }}">
                            <div class="cart-item-details">
                                <div class="item-name">{{ item.product.name }}</div>
                                <div class="item-qty">Quantité : {{ item.quantity }}</div>
                                <div
                                    class="item-price">{{ (item.total)|number_format(2, ',', ' ') }}
                                    €
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <p>Votre panier est vide.</p>
                    {% endfor %}
                </div>
                {% if cartItems|length > 0 %}
                    <div class="cart-summary">
                        <div>Total panier : <span class="total">{{ cart.total|number_format(2, ',', ' ') }} €</span></div>
                        <small>Frais de livraison : Offert</small>
                    </div>
                    <a href="{{ path('app_order_create') }}" class="btn-primary btn-cart">Valider la commande</a>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
