{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <section class="form-page container">
        <img class="form-image" src="{{ asset('images/tree.png') }}" alt="Login">
        <div class="form-container">
            <h1>Connexion</h1>
            {{ form_start(form) }}
            {{ form_row(form.username, {
                row_attr: { class : 'form-control'},
                label_attr: { class: 'form-label' }
            }) }}
            {{ form_row(form.password, {
                row_attr: { class : 'form-control'},
                label_attr: { class: 'form-label' }
            }) }}
            {{ form_row(form.submit,{
                attr: {class : 'btn-primary'}
            }) }}
            {{ form_end(form) }}
            <div class="helper-links">
                <a href="{{ path('app_register') }}">Pas encore de compte ? S’inscrire</a>
            </div>
        </div>
    </section>
{% endblock %}
