{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<section class="form-page container">
    <img class="form-image" src="{{ asset('images/leaf.webp') }}" alt="form-image">
    <div class="form-container">
        <h1 class="register-title">Inscription</h1>
        <span>Tous les champs sont obligatoires.</span>
        {{ form_start(form) }}
        {{ form_row(form.lastName, {
            row_attr: { class : 'form-control'},
            label_attr: { class: 'form-label' }
        }) }}
        {{ form_row(form.firstName, {
            row_attr: { class : 'form-control'},
            label_attr: { class: 'form-label' }
        }) }}
        {{ form_row(form.email, {
            row_attr: { class : 'form-control'},
            label_attr: { class: 'form-label' }
        }) }}
        {{ form_row(form.plainPassword.first, {
            row_attr: { class : 'form-control'},
            label_attr: { class: 'form-label' }
        }) }}
        {{ form_row(form.plainPassword.second, {
            row_attr: { class : 'form-control'},
            label_attr: { class: 'form-label' }
        }) }}
        {{ form_row(form.agreeTerms, {
            row_attr: { class : 'form-checkbox'},
            label_attr: { class: 'form-label' }
        }) }}
        {{ form_row(form.submit,{
            attr: {class : 'btn-primary'}
        }) }}
        {{ form_end(form) }}
        <div class="helper-links">
            <a href="{{ path('app_login') }}">Déjà un compte ? Se connecter</a>
        </div>
    </div>
</section>
{% endblock %}
