{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}
<section class="product-detail">
    <div class="product-detail-image">
        <img src="{{ asset('images/' ~ product.image) }}" alt="{{ product.name }}">
    </div>
    <div class="product-detail-info">
        <h1>{{ product.name }}</h1>
        <div class="price">{{ product.price|number_format(2, ',', ' ') }} €</div>
        <div class="description">{{ product.description|raw }}</div>
        <a href="{{ path('cart_add', { id: product.id }) }}" class="btn-primary">Ajouter au panier</a>
    </div>
</section>
{% endblock %}
